[submodule "NeuralNet_Core"]
	path = NeuralNet_Core
	url = https://github.com/TThaan/NeuralNet_Core.git
[submodule "ConsoleWindowChanger"]
	path = ConsoleWindowChanger
	url = https://github.com/TThaan/ConsoleWindowChanger.git
[submodule "CustomLogger"]
	path = CustomLogger
	url = https://github.com/TThaan/CustomLogger.git
[submodule "ImpEx"]
	path = ImpEx
	url = https://github.com/TThaan/ImpEx.git
[submodule "MatrixExtensions"]
	path = MatrixExtensions
	url = https://github.com/TThaan/MatrixExtensions.git
